.col-1 {
    float: left;
    width: 8.33333333%;
  }

  div {
    height: 50px;
    border: 1px solid red;
    
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }